<!DOCTYPE html>
<html>
  <head>
    <title>ANCEAU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>

  </head>

 <body class="bg-white">

    <%= render "layouts/alert" %>
    <%= render "layouts/header" %>

    <main class="lg:px-10 px-4" id="main">

      <%= content_for?(:content) ? yield(:content) : yield %>

    </main>
  </body>
</html>

<script>
  function closeAlert(event){
    let element = event.target;
    while(element.nodeName !== "BUTTON"){
      element = element.parentNode;
    }
    element.parentNode.parentNode.removeChild(element.parentNode);
  };

</script>
